<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">Pokemon APP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <form class="form-inline mr-auto">
      <label class="my-1 mr-2" for="typeFilter">Types</label>
      <select [(ngModel)]="selectedType" name="types" class="custom-select my-1 mr-sm-2" id="typeFilter" (change)="filterType($event)">
        <option selected>Choose...</option>
        <option *ngFor="let a of types" value="{{ a.name }}">{{a.name}}</option>
      </select>

      <label class="my-1 mr-2" for="abilityFilter">Abilities</label>
      <select [(ngModel)]="selectedAbility" name="abilities" class="custom-select my-1 mr-sm-2" id="abilityFilter" (change)="filterAbility($event)">
        <option selected>Choose...</option>
        <option *ngFor="let a of abilities" value="{{ a.name }}">{{a.name}}</option>
      </select>

      <button type="submit" class="btn btn-primary" (click)="clear()">Clear</button>
    </form>
  </div>

</nav>

<div style="margin-top: 120px;" class="row" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()">
  <div class="col-8">
    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Specie</th>
        <th scope="col">Abilities</th>
        <th scope="col">Forms</th>
        <th scope="col">Types</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of list" (click)="showInfo(p.id)">
        <th scope="row">{{p.id}}</th>
        <td><img src="{{p.sprites.front_default}}" alt="{{p.name}}"></td>
        <td>{{p.name}}</td>
        <td>{{p.species.name}}</td>
        <td>
          <span *ngFor="let a of p.abilities" class="badge badge-primary mr-1">{{a.ability.name}}</span>
        </td>
        <td>
          <span *ngFor="let f of p.forms" class="badge badge-secondary mr-1">{{f.name}}</span>
        </td>
        <td>
          <span *ngFor="let t of p.types" class="badge badge-success mr-1">{{t.type.name}}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <div class="sticky-top">
      <app-pokemon-detail [selectedPokemon]="selectedPokemon"></app-pokemon-detail>
    </div>
  </div>
</div>


<!--<ngx-spinner></ngx-spinner>-->
